**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/usage.statistics.xml
**/.idea/shelf/
**/.idea/markdown-navigator*
.run
.idea/*!/.idea/
!/.idea/
!/.idea/inspectionProfiles/

!/.idea/workspace.xml

!/.idea/vcs.xml

!/.idea/doc-builder.iml

!/.idea/modules.xml

!/.idea/runConfigurations/
