Sphinx==7.2.5
pydata-sphinx-theme==0.15.2
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-video==0.2.0
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
sphinx-autodoc-typehints==1.24.0
sphinx-copybutton==0.5.2
sphinx_design==0.5.0
myst-parser==2.0.0
ipykernel==6.25.1
nbsphinx==0.9.3
